![example](images/director_shot.jpeg)

![example](images/movie_data_erd.jpeg)

# Project Title

**Authors:** Student 1, Student 2, Student 3
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [2]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

%matplotlib inline

In [11]:
# Here you run your code to explore the data
conn = sqlite3.connect("zippedData/im.db")

In [12]:
df = pd.read_sql("""SELECT name FROM sqlite_master WHERE type = 'table';""", conn)
df

            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers

In [116]:
pd.read_sql("""
SELECT *
FROM movie_basics
;
""", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [65]:
pd.read_sql("""
SELECT *
FROM movie_basics
LEFT JOIN movie_ratings USING(movie_id)
;
""", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0
...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None,NaN,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,NaN,NaN

In [59]:
pd.read_sql("""
SELECT *
FROM movie_ratings
;
""", conn)

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [66]:
pd.read_sql("""
SELECT *
FROM movie_basics
LEFT JOIN movie_ratings USING(movie_id)
WHERE movie_id IN 
    (SELECT movie_id
    FROM principals
    WHERE person_id = "nm0000129")
;
""", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0790724,Jack Reacher,Jack Reacher,2012,130.0,"Action,Crime,Thriller",7.0,284547.0
1,tt1013743,Knight and Day,Knight and Day,2010,109.0,"Action,Adventure,Comedy",6.3,169840.0
2,tt1229238,Mission: Impossible - Ghost Protocol,Mission: Impossible - Ghost Protocol,2011,132.0,"Action,Adventure,Thriller",7.4,428142.0
3,tt1336608,Rock of Ages,Rock of Ages,2012,123.0,"Comedy,Drama,Musical",5.9,69910.0
4,tt1483013,Oblivion,Oblivion,2013,124.0,"Action,Adventure,Sci-Fi",7.0,453966.0
5,tt1592191,"Sex, Drugs & Religion","Sex, Drugs & Religion",2010,72.0,"Comedy,Documentary,News",6.7,94.0
6,tt1631867,Edge of Tomorrow,Edge of Tomorrow,2014,113.0,"Action,Sci-Fi",7.9,546284.0
7,tt1745960,Top Gun: Maverick,Top Gun: Maverick,2020,NaN,"Action,Drama",NaN,NaN
8,tt2345759,The Mummy,The Mummy,2017,110.0,"Action,Adventure,Fantasy",5.5,154345.0
9,tt2381249,Mission: Impossible - Rogue Nation,Mission: Impossible - Rogue Nation,2015,131.0,"Action,Adventure,Thriller",7.4,311704.0
10,tt3393786,Jack Reacher: Never Go Back,Jack Reacher: Never Go Back,2016,118.0,"Action,Thriller",6.1,121892.0
11,tt3532216,American Made,American Made,2017,115.0,"Action,Biography,Comedy",7.2,131043.0
12,tt3984388,Close Up,Close Up,2012,500.0,Documentary,6.1,13.0
13,tt4912910,Mission: Impossible - Fallout,Mission: Impossible - Fallout,2018,147.0,"Action,Adventure,Thriller",7.8,233877.0
14,tt5111874,My Scientology Movie,My Scientology Movie,2015,99.0,Documentary,6.7,10884.0
15,tt9603208,Mission: Impossible 8,Mission: Impossible 8,2022,NaN,"Action,Adventure,Thriller",NaN,NaN
16,tt9603212,Mission: Impossible 7,Mission: Impossible 7,2021,NaN,"Action,Adventure,Thriller",NaN,NaN

In [63]:
pd.read_sql("""
SELECT *
FROM movie_basics
WHERE movie_id IN 
    (SELECT movie_id
    FROM principals
    WHERE person_id = "nm0000129")
;
""", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0790724,Jack Reacher,Jack Reacher,2012,130.0,"Action,Crime,Thriller"
1,tt1013743,Knight and Day,Knight and Day,2010,109.0,"Action,Adventure,Comedy"
2,tt1229238,Mission: Impossible - Ghost Protocol,Mission: Impossible - Ghost Protocol,2011,132.0,"Action,Adventure,Thriller"
3,tt1336608,Rock of Ages,Rock of Ages,2012,123.0,"Comedy,Drama,Musical"
4,tt1483013,Oblivion,Oblivion,2013,124.0,"Action,Adventure,Sci-Fi"
5,tt1592191,"Sex, Drugs & Religion","Sex, Drugs & Religion",2010,72.0,"Comedy,Documentary,News"
6,tt1631867,Edge of Tomorrow,Edge of Tomorrow,2014,113.0,"Action,Sci-Fi"
7,tt1745960,Top Gun: Maverick,Top Gun: Maverick,2020,NaN,"Action,Drama"
8,tt2345759,The Mummy,The Mummy,2017,110.0,"Action,Adventure,Fantasy"
9,tt2381249,Mission: Impossible - Rogue Nation,Mission: Impossible - Rogue Nation,2015,131.0,"Action,Adventure,Thriller"
10,tt3393786,Jack Reacher: Never Go Back,Jack Reacher: Never Go Back,2016,118.0,"Action,Thriller"
11,tt3532216,American Made,American Made,2017,115.0,"Action,Biography,Comedy"
12,tt3984388,Close Up,Close Up,2012,500.0,Documentary
13,tt4912910,Mission: Impossible - Fallout,Mission: Impossible - Fallout,2018,147.0,"Action,Adventure,Thriller"
14,tt5111874,My Scientology Movie,My Scientology Movie,2015,99.0,Documentary
15,tt9603208,Mission: Impossible 8,Mission: Impossible 8,2022,NaN,"Action,Adventure,Thriller"
16,tt9603212,Mission: Impossible 7,Mission: Impossible 7,2021,NaN,"Action,Adventure,Thriller"

In [128]:
pd.read_sql("""
SELECT *
FROM movie_basics
WHERE movie_id IN 
    (SELECT movie_id
    FROM principals
    WHERE person_id = "nm0000129")
;
""", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0790724,Jack Reacher,Jack Reacher,2012,130.0,"Action,Crime,Thriller"
1,tt1013743,Knight and Day,Knight and Day,2010,109.0,"Action,Adventure,Comedy"
2,tt1229238,Mission: Impossible - Ghost Protocol,Mission: Impossible - Ghost Protocol,2011,132.0,"Action,Adventure,Thriller"
3,tt1336608,Rock of Ages,Rock of Ages,2012,123.0,"Comedy,Drama,Musical"
4,tt1483013,Oblivion,Oblivion,2013,124.0,"Action,Adventure,Sci-Fi"
5,tt1592191,"Sex, Drugs & Religion","Sex, Drugs & Religion",2010,72.0,"Comedy,Documentary,News"
6,tt1631867,Edge of Tomorrow,Edge of Tomorrow,2014,113.0,"Action,Sci-Fi"
7,tt1745960,Top Gun: Maverick,Top Gun: Maverick,2020,NaN,"Action,Drama"
8,tt2345759,The Mummy,The Mummy,2017,110.0,"Action,Adventure,Fantasy"
9,tt2381249,Mission: Impossible - Rogue Nation,Mission: Impossible - Rogue Nation,2015,131.0,"Action,Adventure,Thriller"
10,tt3393786,Jack Reacher: Never Go Back,Jack Reacher: Never Go Back,2016,118.0,"Action,Thriller"
11,tt3532216,American Made,American Made,2017,115.0,"Action,Biography,Comedy"
12,tt3984388,Close Up,Close Up,2012,500.0,Documentary
13,tt4912910,Mission: Impossible - Fallout,Mission: Impossible - Fallout,2018,147.0,"Action,Adventure,Thriller"
14,tt5111874,My Scientology Movie,My Scientology Movie,2015,99.0,Documentary
15,tt9603208,Mission: Impossible 8,Mission: Impossible 8,2022,NaN,"Action,Adventure,Thriller"
16,tt9603212,Mission: Impossible 7,Mission: Impossible 7,2021,NaN,"Action,Adventure,Thriller"

In [15]:
pd.read_sql("""
SELECT *
FROM persons;
""", conn)

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator"
...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress
606644,nm9990690,Joo Yeon So,NaN,NaN,actress
606645,nm9991320,Madeline Smith,NaN,NaN,actress
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer"

In [129]:
cruiseknownfor = pd.read_sql("""
SELECT *
FROM known_for
WHERE person_id = "nm0000129";
""", conn)

In [130]:
cruiseknownfor["movie_id"]

0    tt0325710
1    tt0116695
2    tt0092099
3    tt0181689
Name: movie_id, dtype: object

In [143]:
pd.read_sql("""
SELECT *
FROM known_for
WHERE movie_id = "tt0325710";
""", conn)

    person_id   movie_id
0   nm0298020  tt0325710
1   nm0694249  tt0325710
2   nm1037158  tt0325710
3   nm0001799  tt0325710
4   nm0407033  tt0325710
5   nm0813414  tt0325710
6   nm0846104  tt0325710
7   nm0153610  tt0325710
8   nm0913822  tt0325710
9   nm0238848  tt0325710
10  nm0252049  tt0325710
11  nm0006440  tt0325710
12  nm0376769  tt0325710
13  nm0742475  tt0325710
14  nm0000129  tt0325710
15  nm0001282  tt0325710
16  nm0361735  tt0325710
17  nm0837452  tt0325710
18  nm1014747  tt0325710
19  nm0906048  tt0325710
20  nm0057735  tt0325710
21  nm0382871  tt0325710
22  nm0488993  tt0325710
23  nm0801662  tt0325710
24  nm0001880  tt0325710
25  nm0175262  tt0325710
26  nm1491165  tt0325710
27  nm0934113  tt0325710
28  nm0463511  tt0325710
29  nm0468746  tt0325710
30  nm0621201  tt0325710
31  nm1409340  tt0325710
32  nm0662642  tt0325710
33  nm1902820  tt0325710
34  nm0380980  tt0325710
35  nm1257423  tt0325710
36  nm1372891  tt0325710
37  nm1744256  tt0325710
38  nm1130595  tt0325710
39  nm1491167  tt0325710
40  nm1686317  tt0325710
41  nm1258003  tt0325710
42  nm1398605  tt0325710
43  nm1404397  tt0325710
44  nm1491244  tt0325710
45  nm1497198  tt0325710
46  nm1491241  tt0325710
47  nm3010882  tt0325710
48  nm3998602  tt0325710

In [50]:
pd.read_sql("""
SELECT *
FROM principals
WHERE person_id = "nm0000129";
""", conn)

     movie_id  ordering  person_id         category   job        characters
0   tt1592191         2  nm0000129             self  None       ["Himself"]
1   tt1631867         1  nm0000129            actor  None          ["Cage"]
2   tt1336608         3  nm0000129            actor  None   ["Stacee Jaxx"]
3   tt1483013         1  nm0000129            actor  None          ["Jack"]
4   tt1745960         1  nm0000129            actor  None      ["Maverick"]
5   tt0790724         1  nm0000129            actor  None       ["Reacher"]
6   tt1013743         1  nm0000129            actor  None    ["Roy Miller"]
7   tt1229238         1  nm0000129            actor  None    ["Ethan Hunt"]
8   tt2345759         1  nm0000129            actor  None   ["Nick Morton"]
9   tt3532216         1  nm0000129            actor  None    ["Barry Seal"]
10  tt2381249         1  nm0000129            actor  None    ["Ethan Hunt"]
11  tt3393786         1  nm0000129            actor  None  ["Jack Reacher"]
12  tt3984388        10  nm0000129             self  None       ["Himself"]
13  tt5111874         2  nm0000129  archive_footage  None       ["Himself"]
14  tt4912910         1  nm0000129            actor  None    ["Ethan Hunt"]
15  tt9603208         1  nm0000129            actor  None    ["Ethan Hunt"]
16  tt9603212         1  nm0000129            actor  None    ["Ethan Hunt"]

In [32]:
pd.read_sql("""
SELECT *
FROM writers
WHERE person_id = "nm0000129";
""", conn)

Empty DataFrame
Columns: [movie_id, person_id]
Index: []

In [27]:
pd.read_sql("""
SELECT *
FROM persons
WHERE primary_name LIKE "%cruise%";
""", conn)

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0000129,Tom Cruise,1962.0,None,"actor,producer,soundtrack"
1,nm1652557,Sarah Cruise,NaN,None,"editor,editorial_department,writer"
2,nm2277678,Sharon LaCruise,NaN,None,"producer,director,writer"
3,nm3595972,Zee Cruise,NaN,None,actress
4,nm6980584,Brit Cruise,NaN,None,"producer,director,writer"
5,nm6081001,Carter Cruise,1991.0,None,actress
6,nm8660016,Marc Cruise,NaN,None,director
7,nm9844470,Joachim Cruise,NaN,None,actor
8,nm9640296,Cruise Sztamenits,NaN,None,"camera_department,cinematographer"
9,nm7775247,Mike Cruise,NaN,None,None
10,nm6967175,Bobby Cruise,NaN,None,actor

In [114]:
pd.read_sql("""
SELECT *
FROM persons
WHERE primary_name LIKE "%jackman%";
""", conn)

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm1136567,Lawrence Jackman,NaN,None,"editor,director,writer"
1,nm0413183,Pål Jackman,1967.0,None,"director,writer,composer"
2,nm0413168,Hugh Jackman,1968.0,None,"actor,soundtrack,producer"
3,nm2273444,Henry Jackman,1974.0,None,"composer,music_department,soundtrack"
4,nm1276052,Margaret Jackman,1937.0,None,actress
5,nm2803649,Adam Jackman,NaN,None,writer
6,nm2076307,John Jackman,NaN,None,"director,writer,producer"
7,nm3167078,Figs Jackman,NaN,None,"producer,actor,director"
8,nm4291954,Una Jackman,NaN,None,producer
9,nm4024939,Nicholas Jackman,NaN,None,"actor,writer,miscellaneous"
10,nm5622462,Tiffany Jackman,NaN,None,"producer,director,editor"
11,nm8691804,Alan H. Jackman,NaN,None,"editorial_department,editor"
12,nm9231410,Bob Jackman,NaN,None,None
13,nm6265738,Richard Jackman,NaN,None,"director,writer,cinematographer"

In [28]:
#Tom Cruise person_id = "nm0000129"

In [103]:
pd.read_csv("zippedData/bom.movie_gross.csv.gz").head(50)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010
10,Clash of the Titans (2010),WB,163200000.0,330000000,2010
11,The Chronicles of Narnia: The Voyage of the Da...,Fox,104400000.0,311300000,2010
12,The King's Speech,Wein.,135500000.0,275400000,2010
13,Tron Legacy,BV,172100000.0,228000000,2010
14,The Karate Kid,Sony,176600000.0,182500000,2010
15,Prince of Persia: The Sands of Time,BV,90800000.0,245600000,2010
16,Black Swan,FoxS,107000000.0,222400000,2010
17,Megamind,P/DW,148400000.0,173500000,2010
18,Robin Hood,Uni.,105300000.0,216400000,2010
19,The Last Airbender,Par.,131800000.0,187900000,2010
20,Little Fockers,Uni.,148400000.0,162200000,2010
21,Resident Evil: Afterlife,SGem,60100000.0,240100000,2010
22,Shutter Island,Par.,128000000.0,166800000,2010
23,Salt,Sony,118300000.0,175200000,2010
24,Sex and the City 2,WB (NL),95300000.0,193000000,2010
25,The Tourist,Sony,67600000.0,210700000,2010
26,The Expendables,LGF,103100000.0,171400000,2010
27,Grown Ups,Sony,162000000.0,109400000,2010
28,Knight & Day,Fox,76400000.0,185500000,2010
29,True Grit,Par.,171200000.0,81000000,2010
30,Gulliver's Travels,Fox,42800000.0,194600000,2010
31,Percy Jackson & The Olympians: The Lightning T...,Fox,88800000.0,137700000,2010
32,The Social Network,Sony,97000000.0,128000000,2010
33,Valentine's Day,WB (NL),110500000.0,106000000,2010
34,The Sorcerer's Apprentice,BV,63200000.0,152100000,2010
35,Due Date,WB,100500000.0,111200000,2010
36,Eat Pray Love,Sony,80600000.0,124000000,2010
37,Yogi Bear,WB,100200000.0,101300000,2010
38,Red,Sum.,90400000.0,108600000,2010
39,Paranormal Activity 2,Par.,84800000.0,92800000,2010
40,The A-Team,Fox,77200000.0,100000000,2010
41,Jackass 3-D,Par.,117200000.0,54500000,2010
42,The Other Guys,Sony,119200000.0,51200000,2010
43,Unstoppable,Fox,81600000.0,86200000,2010
44,Step Up 3-D,BV,42400000.0,116900000,2010
45,The Book of Eli,WB,94800000.0,62300000,2010
46,The Town,WB,92200000.0,61800000,2010
47,Date Night,Fox,98700000.0,53600000,2010
48,Legend of the Guardians: The Owls of Ga'Hoole,WB,55700000.0,84400000,2010
49,The Wolfman,Uni.,62000000.0,77800000,2010

In [74]:
pd.read_csv("zippedData/tmdb.movies.csv.gz",index_col=0).head(25)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229
6,"[28, 12, 14, 878]",19995,en,Avatar,26.526,2009-12-18,Avatar,7.4,18676
7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340
8,"[16, 10751, 35]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057
9,"[16, 28, 35, 10751, 878]",38055,en,Megamind,22.855,2010-11-04,Megamind,6.8,3635
10,"[16, 35, 10751]",863,en,Toy Story 2,22.698,1999-11-24,Toy Story 2,7.5,7553
11,"[10751, 14, 12]",12155,en,Alice in Wonderland,22.020,2010-03-05,Alice in Wonderland,6.6,8713
12,"[53, 12, 28]",27578,en,The Expendables,21.517,2010-08-03,The Expendables,6.1,4647
13,"[16, 10751]",38757,en,Tangled,21.511,2010-11-24,Tangled,7.5,6407
14,"[27, 80]",41439,en,Saw 3D,20.370,2010-10-28,Saw: The Final Chapter,6.0,1488
15,"[12, 14, 18, 10749]",24021,en,The Twilight Saga: Eclipse,20.340,2010-06-23,The Twilight Saga: Eclipse,6.0,4909
16,"[28, 53, 878]",20504,en,The Book of Eli,18.985,2010-01-11,The Book of Eli,6.7,3495
17,"[10402, 10749]",52371,nl,LelleBelle,18.586,2010-10-09,LelleBelle,4.5,36
18,"[28, 18, 53]",2502,en,The Bourne Supremacy,18.199,2004-07-23,The Bourne Supremacy,7.3,4367
19,"[18, 53, 9648]",11324,en,Shutter Island,18.060,2010-02-18,Shutter Island,8.1,12625
20,"[28, 18, 9648, 53]",2501,en,The Bourne Identity,17.935,2002-06-14,The Bourne Identity,7.4,5406
21,"[28, 35]",37834,en,Knight and Day,17.713,2010-06-23,Knight and Day,6.0,2494
22,"[12, 10751, 14]",10140,en,The Chronicles of Narnia: The Voyage of the Da...,17.382,2010-12-10,The Chronicles of Narnia: The Voyage of the Da...,6.3,3196
23,"[18, 10749]",41233,en,Step Up 3D,17.174,2010-08-06,Step Up 3D,6.7,1160
24,"[53, 28, 12, 35, 80]",34544,en,The A-Team,17.097,2010-06-11,The A-Team,6.3,2703

In [102]:
pd.read_csv("zippedData/tn.movie_budgets.csv.gz").head(50)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
10,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
13,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
21,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"
22,23,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267"
23,24,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"
25,26,"Nov 14, 2008",Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078"
26,27,"May 4, 2012",The Avengers,"$225,000,000","$623,279,547","$1,517,935,897"
27,28,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,"$225,000,000","$423,315,812","$1,066,215,812"
28,29,"Jun 14, 2013",Man of Steel,"$225,000,000","$291,045,518","$667,999,518"
29,30,"May 16, 2008",The Chronicles of Narnia: Prince Caspian,"$225,000,000","$141,621,490","$417,341,288"
30,31,"Jul 3, 2012",The Amazing Spider-Man,"$220,000,000","$262,030,663","$757,890,267"
31,32,"May 18, 2012",Battleship,"$220,000,000","$65,233,400","$313,477,717"
32,33,"Jun 21, 2017",Transformers: The Last Knight,"$217,000,000","$130,168,683","$602,893,340"
33,34,"Jun 12, 2015",Jurassic World,"$215,000,000","$652,270,625","$1,648,854,864"
34,35,"May 25, 2012",Men in Black 3,"$215,000,000","$179,020,854","$654,213,485"
35,36,"Jun 24, 2009",Transformers: Revenge of the Fallen,"$210,000,000","$402,111,870","$836,519,699"
36,37,"Jun 27, 2014",Transformers: Age of Extinction,"$210,000,000","$245,439,076","$1,104,039,076"
37,38,"May 26, 2006",X-Men: The Last Stand,"$210,000,000","$234,362,462","$459,260,946"
38,39,"May 14, 2010",Robin Hood,"$210,000,000","$105,487,148","$322,459,006"
39,40,"Dec 14, 2005",King Kong,"$207,000,000","$218,080,025","$550,517,357"
40,41,"Dec 7, 2007",The Golden Compass,"$205,000,000","$70,107,728","$367,262,558"
41,42,"Feb 16, 2018",Black Panther,"$200,000,000","$700,059,566","$1,348,258,224"
42,43,"Dec 19, 1997",Titanic,"$200,000,000","$659,363,944","$2,208,208,395"
43,44,"Jun 15, 2018",Incredibles 2,"$200,000,000","$608,581,744","$1,242,520,711"
44,45,"Dec 16, 2016",Rogue One: A Star Wars Story,"$200,000,000","$532,177,324","$1,049,102,856"
45,46,"Jun 17, 2016",Finding Dory,"$200,000,000","$486,295,561","$1,021,215,193"
46,47,"Jun 18, 2010",Toy Story 3,"$200,000,000","$415,004,880","$1,068,879,522"
47,48,"May 3, 2013",Iron Man 3,"$200,000,000","$408,992,272","$1,215,392,272"
48,49,"May 5, 2017",Guardians of the Galaxy Vol 2,"$200,000,000","$389,813,101","$862,316,233"
49,50,"Jun 30, 2004",Spider-Man 2,"$200,000,000","$373,524,485","$795,110,670"

In [82]:
pd.read_csv("zippedData/rt.movie_info.tsv.gz", delimiter='\t' ).head(25)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
9,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN
10,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,18,"In 1979, Bill Viola and Frank Caliguri dreamed...",NR,Documentary,NaN,Robert Zullo,NaN,NaN,NaN,NaN,NaN,Showtime Documentary Films
12,19,While Microsoft may be the biggest software co...,NR,Documentary|Special Interest,NaN,NaN,"Aug 23, 2002","Sep 30, 2003",NaN,NaN,90 minutes,Seventh Art Releasing
13,20,Rachel (Britt Ekland) is an Amish girl who rej...,PG-13,Classics|Comedy|Drama,William Friedkin,Sidney Michaels|Arnold Schulman|Norman Lear,"Dec 22, 1968","May 20, 2008",NaN,NaN,97 minutes,NaN
14,21,"Old-school comic Rodney ""I get no respect"" Dan...",R,Comedy,Peter Baldwin,Rodney Dangerfield|Harry Basil,"Jan 31, 1997","Sep 20, 1999",NaN,NaN,106 minutes,NaN
15,22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010","Apr 5, 2011",$,"1,039,869",108 minutes,ATO Pictures
16,23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,"99,165,609",129 minutes,Sony Pictures
17,24,Three young boys discover a stranded Russian s...,PG,Action and Adventure|Comedy|Drama,Rick Rosenthal,Sheldon Lettich|Michael Nankin|Alan Jay Glueckman,"Nov 6, 1987","Mar 8, 2005",NaN,NaN,98 minutes,NaN
18,25,"From ancient Japan's most enduring tale, the e...",PG-13,Action and Adventure|Drama|Science Fiction and...,Carl Erik Rinsch,Chris Morgan|Hossein Amini,"Dec 25, 2013","Apr 1, 2014",$,"20,518,224",127 minutes,Universal Pictures
19,26,A comic series of short vignettes build on one...,R,Art House and International|Comedy|Drama|Music...,Jim Jarmusch,Jim Jarmusch,"May 14, 2004","Sep 21, 2004",$,"1,971,135",96 minutes,MGM
20,27,NaN,NR,Musical and Performing Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,28,Elvis goes Hawaiian for the second time in thi...,G,Classics|Comedy|Musical and Performing Arts|Ro...,NaN,Allan Weiss|Anthony Lawrence,"Jun 15, 1966","Jan 7, 2003",NaN,NaN,90 minutes,NaN
22,29,This futuristic adventure stars Lee Majors as ...,PG,Action and Adventure|Drama|Science Fiction and...,Martyn Burke,NaN,"Apr 1, 1981","May 10, 2011",NaN,NaN,101 minutes,NaN
23,33,Howard W. Campbell Jr. (Nick Nolte) is an Amer...,R,Action and Adventure|Drama|Mystery and Suspense,Keith Gordon,NaN,"Nov 1, 1996","Aug 22, 2000",NaN,NaN,114 minutes,NaN
24,34,Director John Woo brings Hong Kong-style marti...,PG-13,Action and Adventure|Mystery and Suspense,John Woo,William Goldman|John Logan|David Marconi|Micha...,"Dec 31, 2000","Nov 7, 2000",NaN,NaN,123 minutes,Paramount Pictures

In [94]:
pd.read_csv("zippedData/rt.reviews.tsv.gz", delimiter='\t', encoding='latin1').head(25)

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
5,3,... Cronenberg's Cosmopolis expresses somethin...,NaN,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
8,3,"Cronenberg's cold, exacting precision and emot...",NaN,fresh,Sean Axmaker,0,Parallax View,"March 24, 2013"
9,3,Over and above its topical urgency or the bit ...,NaN,fresh,Kong Rithdee,0,Bangkok Post,"March 4, 2013"
10,3,"Cosmopolis"" is a hypnotic examination of our m...",NaN,fresh,Tim Grierson,0,Deadspin,"February 12, 2013"
11,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,Emanuel Levy,0,EmanuelLevy.Com,"February 3, 2013"
12,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,Christian Toto,0,Big Hollywood,"January 15, 2013"
13,3,The anger over the injustice of the financial ...,B,fresh,Robert Roten,0,Laramie Movie Scope,"January 7, 2013"
14,3,For those who like their Cronenberg thick and ...,3/4,fresh,Marty Mapes,0,Movie Habit,"October 20, 2012"
15,3,For better or worse - often both - Cosmopolis ...,3/5,fresh,Adam Ross,0,The Aristocrat,"September 27, 2012"
16,3,For one of the smartest films I've seen in a w...,4/5,fresh,Patrick Kolan,0,Shotgun Cinema,"September 26, 2012"
17,3,Its major problem is that it's not cinematic.,B,fresh,Dennis Schwartz,0,Ozus' World Movie Reviews,"September 25, 2012"
18,3,It's fascinating to watch Pattinson actually a...,2/4,rotten,Sean P. Means,0,Salt Lake Tribune,"September 14, 2012"
19,3,A black comedy as dry and deadpan as a bleache...,4/4,fresh,John Beifuss,0,"Commercial Appeal (Memphis, TN)","September 10, 2012"
20,3,While 'Cosmopolis' is mostly emotionless and a...,6/10,fresh,Chris Sawin,0,Examiner.com,"September 7, 2012"
21,3,"In the past, Cronenberg has used such deadpan ...",1/4,rotten,Jason Buchanan,0,TV Guide,"September 7, 2012"
22,3,"... a movie about a sentient zombie, trapped i...",8,fresh,Philip Martin,0,Arkansas Democrat-Gazette,"September 7, 2012"
23,3,Those who said Don DeLillo's book was unfilmab...,2/5,rotten,Mike Scott,0,Times-Picayune,"September 7, 2012"
24,3,"The rapid dialogue is dry and mannered, like a...",2.5/4,rotten,Joe Williams,1,St. Louis Post-Dispatch,"September 6, 2012"

In [95]:
pd.read_csv("zippedData/rt.reviews.tsv.gz", delimiter='\t', encoding='latin1')

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [99]:
pd.read_csv("zippedData/movie_gross_data.csv", index_col=0)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,year
0,1,Top Gun: Maverick,"$1,354,758,251","$664,758,251",49.1%,"$690,000,000",50.9%,2022
1,2,Jurassic World Dominion,"$960,654,170","$372,208,170",38.7%,"$588,446,000",61.3%,2022
2,3,Doctor Strange in the Multiverse of Madness,"$954,860,995","$411,329,527",43.1%,"$543,531,468",56.9%,2022
3,4,The Batman,"$770,836,163","$369,345,583",47.9%,"$401,490,580",52.1%,2022
4,5,Minions: The Rise of Gru,"$761,636,228","$337,056,160",44.3%,"$424,580,068",55.7%,2022
...,...,...,...,...,...,...,...,...
30,31,"Race for Your Life, Charlie Brown","$3,223,888","$3,223,888",100%,-,-,1977
31,32,March or Die,"$1,000,000","$1,000,000",100%,-,-,1977
32,33,Joseph Andrews,"$839,865","$839,865",100%,-,-,1977
33,34,Citizens Band,"$815,530","$815,530",100%,-,-,1977
34,35,Fraternity Row,"$290,674","$290,674",100%,-,-,1977

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [145]:
# Here you run your code to clean the data
thenumbers = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")

In [189]:
thenumbers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 271.2+ KB

In [183]:
thenumbers["production_budget"].apply(type).value_counts()

<class 'str'>    5782
Name: production_budget, dtype: int64

In [184]:
thenumbers["domestic_gross"].apply(type).value_counts()

<class 'str'>    5782
Name: domestic_gross, dtype: int64

In [186]:
thenumbers["worldwide_gross"].apply(type).value_counts()

<class 'str'>    5782
Name: worldwide_gross, dtype: int64

In [187]:
thenumbers["production_budget"] = thenumbers["production_budget"].replace({'\$': '', ',': ''}, regex=True).astype(float)
thenumbers["production_budget"].apply(type).value_counts()

<class 'float'>    5782
Name: production_budget, dtype: int64

In [190]:
thenumbers["domestic_gross"] = thenumbers["domestic_gross"].replace({'\$': '', ',': ''}, regex=True).astype(float)
thenumbers["domestic_gross"].apply(type).value_counts()

<class 'float'>    5782
Name: domestic_gross, dtype: int64

In [191]:
thenumbers["worldwide_gross"] = thenumbers["worldwide_gross"].replace({'\$': '', ',': ''}, regex=True).astype(float)
thenumbers["worldwide_gross"].apply(type).value_counts()

<class 'float'>    5782
Name: worldwide_gross, dtype: int64

In [195]:
thenumbers["foreign_gross"] = thenumbers["worldwide_gross"] - thenumbers["domestic_gross"]

In [197]:
thenumbers["foreign_gross"].apply(type).value_counts()

<class 'float'>    5782
Name: foreign_gross, dtype: int64

In [199]:
thenumbers["profit_loss"] = thenumbers["worldwide_gross"] - thenumbers["production_budget"]

In [201]:
thenumbers["profit_loss"].describe()

count    5.782000e+03
mean     5.989970e+07
std      1.460889e+08
min     -2.002376e+08
25%     -2.189071e+06
50%      8.550286e+06
75%      6.096850e+07
max      2.351345e+09
Name: profit_loss, dtype: float64

In [207]:
thenumbers["roi"] = (thenumbers["profit_loss"] / thenumbers["production_budget"] ) *100

In [210]:
thenumbers.sort_values(by='profit_loss', ascending=False).head(50).describe()

,id,production_budget,domestic_gross,worldwide_gross,foreign_gross,profit_loss,roi
count,50.000000,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,50.000000
mean,39.640000,1.704680e+08,4.326965e+08,1.204576e+09,7.718798e+08,1.034108e+09,847.114952
std,25.260892,8.268543e+07,1.501970e+08,3.739302e+08,2.851206e+08,3.217411e+08,1008.656247
min,1.000000,1.050000e+07,1.613218e+08,7.929653e+08,3.578548e+08,7.824653e+08,294.341491
25%,23.500000,9.425000e+07,3.415884e+08,9.779663e+08,6.138483e+08,8.415192e+08,451.467821
50%,36.500000,1.750000e+08,4.062966e+08,1.094239e+09,6.939178e+08,9.112858e+08,599.760275
75%,56.750000,2.000000e+08,4.833578e+08,1.269152e+09,8.500226e+08,1.082856e+09,952.797192
max,97.000000,4.250000e+08,9.366622e+08,2.776345e+09,2.015838e+09,2.351345e+09,7452.050724

In [211]:
thenumbers.sort_values(by='roi', ascending=False).head(50).describe()

,id,production_budget,domestic_gross,worldwide_gross,foreign_gross,profit_loss,roi
count,50.000000,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,50.000000
mean,47.720000,1.192342e+06,6.410341e+07,1.161222e+08,5.201875e+07,1.149298e+08,18266.360938
std,27.535535,2.349987e+06,9.829190e+07,1.756838e+08,8.501175e+07,1.734452e+08,25785.155017
min,7.000000,1.100000e+03,1.543300e+04,1.810410e+05,0.000000e+00,1.799410e+05,5962.038000
25%,19.750000,1.000000e+05,9.584393e+06,1.516632e+07,1.518750e+04,1.494132e+07,7411.363191
50%,52.000000,3.500000e+05,2.853666e+07,4.322482e+07,1.268889e+07,4.292482e+07,10453.815955
75%,72.250000,9.645000e+05,7.774218e+07,1.309700e+08,4.835023e+07,1.300873e+08,18639.739683
max,93.000000,1.100000e+07,4.609980e+08,7.929653e+08,3.578548e+08,7.824653e+08,179900.000000

In [223]:
top500moviesbypnl = thenumbers.sort_values(by='profit_loss', ascending=False).head(500)["movie"]

In [257]:
top500moviesbypnl

0                                     Avatar
42                                   Titanic
6                     Avengers: Infinity War
5       Star Wars Ep. VII: The Force Awakens
33                            Jurassic World
                        ...
839              Maze Runner: The Death Cure
1369                                  8 Mile
848                          The Truman Show
1398             Back to the Future Part III
1004                              Paddington
Name: movie, Length: 500, dtype: object

In [258]:
top500moviesbyroi = thenumbers.sort_values(by='roi', ascending=False).head(500)["movie"]

In [262]:
#topmoviespnlroi = pd.Series(np.intersect1d(top500moviesbypnl,top500moviesbyroi))

topmoviespnlroi = pd.Series(list(set(top500moviesbypnl).intersection(set(top500moviesbyroi))))

topmoviespnlroi

0                            Crocodile Dundee 2
1           Star Wars Ep. I: The Phantom Menace
2                               The Maze Runner
3                       Silver Linings Playbook
4                                         Ghost
                         ...
136                              The Full Monty
137    Star Wars Ep. V: The Empire Strikes Back
138        Star Wars Ep. VI: Return of the Jedi
139                               The Godfather
140                                Pulp Fiction
Length: 141, dtype: object

In [263]:
dfpnlroi = thenumbers[thenumbers["movie"].isin(topmoviespnlroi)]

In [264]:
dfpnlroi.sort_values(by='profit_loss', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,foreign_gross,profit_loss,roi
42,43,"Dec 19, 1997",Titanic,200000000.0,659363944.0,2.208208e+09,1.548844e+09,2.008208e+09,1004.104198
260,61,"Jul 15, 2011",Harry Potter and the Deathly Hallows: Part II,125000000.0,381193157.0,1.341693e+09,9.605000e+08,1.216693e+09,973.354526
134,35,"Mar 17, 2017",Beauty and the Beast,160000000.0,504014165.0,1.259200e+09,7.551855e+08,1.099200e+09,686.999816
672,73,"Jul 10, 2015",Minions,74000000.0,336045770.0,1.160336e+09,8.242904e+08,1.086336e+09,1468.021855
425,26,"Dec 17, 2003",The Lord of the Rings: The Return of the King,94000000.0,377845905.0,1.141403e+09,7.635574e+08,1.047403e+09,1114.258873
...,...,...,...,...,...,...,...,...,...
3014,15,"Aug 31, 2007",Halloween,15000000.0,58269151.0,7.751440e+07,1.924525e+07,6.251440e+07,416.762673
5459,60,"Apr 23, 2009",Home,500000.0,15433.0,4.479317e+07,4.477774e+07,4.429317e+07,8858.633600
5396,97,"Apr 7, 1933",King Kong,672000.0,10000000.0,1.000065e+07,6.500000e+02,9.328650e+06,1388.191964
2619,20,"Mar 6, 1998",Twilight,20000000.0,15055091.0,1.505509e+07,0.000000e+00,-4.944909e+06,-24.724545
3455,56,"Jun 5, 2009",Home,12000000.0,0.0,0.000000e+00,0.000000e+00,-1.200000e+07,-100.000000

In [193]:
pd.read_csv("zippedData/tn.movie_budgets.csv.gz")

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***