![example](images/director_shot.jpeg)

![example](images/movie_data_erd.jpeg)

# Project Title

**Authors:** Student 1, Student 2, Student 3
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [2]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

%matplotlib inline

In [11]:
# Here you run your code to explore the data
conn = sqlite3.connect("zippedData/im.db")

In [12]:
df = pd.read_sql("""SELECT name FROM sqlite_master WHERE type = 'table';""", conn)
df

            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers

In [58]:
pd.read_sql("""
SELECT *
FROM movie_basics
;
""", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [65]:
pd.read_sql("""
SELECT *
FROM movie_basics
LEFT JOIN movie_ratings USING(movie_id)
;
""", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0
...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None,NaN,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,NaN,NaN

In [59]:
pd.read_sql("""
SELECT *
FROM movie_ratings
;
""", conn)

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [66]:
pd.read_sql("""
SELECT *
FROM movie_basics
LEFT JOIN movie_ratings USING(movie_id)
WHERE movie_id IN 
    (SELECT movie_id
    FROM principals
    WHERE person_id = "nm0000129")
;
""", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0790724,Jack Reacher,Jack Reacher,2012,130.0,"Action,Crime,Thriller",7.0,284547.0
1,tt1013743,Knight and Day,Knight and Day,2010,109.0,"Action,Adventure,Comedy",6.3,169840.0
2,tt1229238,Mission: Impossible - Ghost Protocol,Mission: Impossible - Ghost Protocol,2011,132.0,"Action,Adventure,Thriller",7.4,428142.0
3,tt1336608,Rock of Ages,Rock of Ages,2012,123.0,"Comedy,Drama,Musical",5.9,69910.0
4,tt1483013,Oblivion,Oblivion,2013,124.0,"Action,Adventure,Sci-Fi",7.0,453966.0
5,tt1592191,"Sex, Drugs & Religion","Sex, Drugs & Religion",2010,72.0,"Comedy,Documentary,News",6.7,94.0
6,tt1631867,Edge of Tomorrow,Edge of Tomorrow,2014,113.0,"Action,Sci-Fi",7.9,546284.0
7,tt1745960,Top Gun: Maverick,Top Gun: Maverick,2020,NaN,"Action,Drama",NaN,NaN
8,tt2345759,The Mummy,The Mummy,2017,110.0,"Action,Adventure,Fantasy",5.5,154345.0
9,tt2381249,Mission: Impossible - Rogue Nation,Mission: Impossible - Rogue Nation,2015,131.0,"Action,Adventure,Thriller",7.4,311704.0
10,tt3393786,Jack Reacher: Never Go Back,Jack Reacher: Never Go Back,2016,118.0,"Action,Thriller",6.1,121892.0
11,tt3532216,American Made,American Made,2017,115.0,"Action,Biography,Comedy",7.2,131043.0
12,tt3984388,Close Up,Close Up,2012,500.0,Documentary,6.1,13.0
13,tt4912910,Mission: Impossible - Fallout,Mission: Impossible - Fallout,2018,147.0,"Action,Adventure,Thriller",7.8,233877.0
14,tt5111874,My Scientology Movie,My Scientology Movie,2015,99.0,Documentary,6.7,10884.0
15,tt9603208,Mission: Impossible 8,Mission: Impossible 8,2022,NaN,"Action,Adventure,Thriller",NaN,NaN
16,tt9603212,Mission: Impossible 7,Mission: Impossible 7,2021,NaN,"Action,Adventure,Thriller",NaN,NaN

In [63]:
pd.read_sql("""
SELECT *
FROM movie_basics
WHERE movie_id IN 
    (SELECT movie_id
    FROM principals
    WHERE person_id = "nm0000129")
;
""", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0790724,Jack Reacher,Jack Reacher,2012,130.0,"Action,Crime,Thriller"
1,tt1013743,Knight and Day,Knight and Day,2010,109.0,"Action,Adventure,Comedy"
2,tt1229238,Mission: Impossible - Ghost Protocol,Mission: Impossible - Ghost Protocol,2011,132.0,"Action,Adventure,Thriller"
3,tt1336608,Rock of Ages,Rock of Ages,2012,123.0,"Comedy,Drama,Musical"
4,tt1483013,Oblivion,Oblivion,2013,124.0,"Action,Adventure,Sci-Fi"
5,tt1592191,"Sex, Drugs & Religion","Sex, Drugs & Religion",2010,72.0,"Comedy,Documentary,News"
6,tt1631867,Edge of Tomorrow,Edge of Tomorrow,2014,113.0,"Action,Sci-Fi"
7,tt1745960,Top Gun: Maverick,Top Gun: Maverick,2020,NaN,"Action,Drama"
8,tt2345759,The Mummy,The Mummy,2017,110.0,"Action,Adventure,Fantasy"
9,tt2381249,Mission: Impossible - Rogue Nation,Mission: Impossible - Rogue Nation,2015,131.0,"Action,Adventure,Thriller"
10,tt3393786,Jack Reacher: Never Go Back,Jack Reacher: Never Go Back,2016,118.0,"Action,Thriller"
11,tt3532216,American Made,American Made,2017,115.0,"Action,Biography,Comedy"
12,tt3984388,Close Up,Close Up,2012,500.0,Documentary
13,tt4912910,Mission: Impossible - Fallout,Mission: Impossible - Fallout,2018,147.0,"Action,Adventure,Thriller"
14,tt5111874,My Scientology Movie,My Scientology Movie,2015,99.0,Documentary
15,tt9603208,Mission: Impossible 8,Mission: Impossible 8,2022,NaN,"Action,Adventure,Thriller"
16,tt9603212,Mission: Impossible 7,Mission: Impossible 7,2021,NaN,"Action,Adventure,Thriller"

In [52]:
pd.read_sql("""
SELECT *
FROM movie_basics
WHERE movie_id IN 
    (SELECT movie_id
    FROM known_for
    WHERE person_id = "nm0000129")
;
""", conn)

Empty DataFrame
Columns: [movie_id, primary_title, original_title, start_year, runtime_minutes, genres]
Index: []

In [15]:
pd.read_sql("""
SELECT *
FROM persons;
""", conn)

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator"
...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress
606644,nm9990690,Joo Yeon So,NaN,NaN,actress
606645,nm9991320,Madeline Smith,NaN,NaN,actress
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer"

In [39]:
pd.read_sql("""
SELECT *
FROM known_for
WHERE person_id = "nm0000129";
""", conn)

   person_id   movie_id
0  nm0000129  tt0325710
1  nm0000129  tt0116695
2  nm0000129  tt0092099
3  nm0000129  tt0181689

In [43]:
pd.read_sql("""
SELECT *
FROM movie_basics
WHERE movie_id = "tt0181689";
""", conn)

Empty DataFrame
Columns: [movie_id, primary_title, original_title, start_year, runtime_minutes, genres]
Index: []

In [50]:
pd.read_sql("""
SELECT *
FROM principals
WHERE person_id = "nm0000129";
""", conn)

     movie_id  ordering  person_id         category   job        characters
0   tt1592191         2  nm0000129             self  None       ["Himself"]
1   tt1631867         1  nm0000129            actor  None          ["Cage"]
2   tt1336608         3  nm0000129            actor  None   ["Stacee Jaxx"]
3   tt1483013         1  nm0000129            actor  None          ["Jack"]
4   tt1745960         1  nm0000129            actor  None      ["Maverick"]
5   tt0790724         1  nm0000129            actor  None       ["Reacher"]
6   tt1013743         1  nm0000129            actor  None    ["Roy Miller"]
7   tt1229238         1  nm0000129            actor  None    ["Ethan Hunt"]
8   tt2345759         1  nm0000129            actor  None   ["Nick Morton"]
9   tt3532216         1  nm0000129            actor  None    ["Barry Seal"]
10  tt2381249         1  nm0000129            actor  None    ["Ethan Hunt"]
11  tt3393786         1  nm0000129            actor  None  ["Jack Reacher"]
12  tt3984388        10  nm0000129             self  None       ["Himself"]
13  tt5111874         2  nm0000129  archive_footage  None       ["Himself"]
14  tt4912910         1  nm0000129            actor  None    ["Ethan Hunt"]
15  tt9603208         1  nm0000129            actor  None    ["Ethan Hunt"]
16  tt9603212         1  nm0000129            actor  None    ["Ethan Hunt"]

In [32]:
pd.read_sql("""
SELECT *
FROM writers
WHERE person_id = "nm0000129";
""", conn)

Empty DataFrame
Columns: [movie_id, person_id]
Index: []

In [27]:
pd.read_sql("""
SELECT *
FROM persons
WHERE primary_name LIKE "%cruise%";
""", conn)

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0000129,Tom Cruise,1962.0,None,"actor,producer,soundtrack"
1,nm1652557,Sarah Cruise,NaN,None,"editor,editorial_department,writer"
2,nm2277678,Sharon LaCruise,NaN,None,"producer,director,writer"
3,nm3595972,Zee Cruise,NaN,None,actress
4,nm6980584,Brit Cruise,NaN,None,"producer,director,writer"
5,nm6081001,Carter Cruise,1991.0,None,actress
6,nm8660016,Marc Cruise,NaN,None,director
7,nm9844470,Joachim Cruise,NaN,None,actor
8,nm9640296,Cruise Sztamenits,NaN,None,"camera_department,cinematographer"
9,nm7775247,Mike Cruise,NaN,None,None
10,nm6967175,Bobby Cruise,NaN,None,actor

In [28]:
#Tom Cruise person_id = "nm0000129"

In [70]:
pd.read_csv("zippedData/bom.movie_gross.csv.gz").head(25)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010
10,Clash of the Titans (2010),WB,163200000.0,330000000,2010
11,The Chronicles of Narnia: The Voyage of the Da...,Fox,104400000.0,311300000,2010
12,The King's Speech,Wein.,135500000.0,275400000,2010
13,Tron Legacy,BV,172100000.0,228000000,2010
14,The Karate Kid,Sony,176600000.0,182500000,2010
15,Prince of Persia: The Sands of Time,BV,90800000.0,245600000,2010
16,Black Swan,FoxS,107000000.0,222400000,2010
17,Megamind,P/DW,148400000.0,173500000,2010
18,Robin Hood,Uni.,105300000.0,216400000,2010
19,The Last Airbender,Par.,131800000.0,187900000,2010
20,Little Fockers,Uni.,148400000.0,162200000,2010
21,Resident Evil: Afterlife,SGem,60100000.0,240100000,2010
22,Shutter Island,Par.,128000000.0,166800000,2010
23,Salt,Sony,118300000.0,175200000,2010
24,Sex and the City 2,WB (NL),95300000.0,193000000,2010

In [74]:
pd.read_csv("zippedData/tmdb.movies.csv.gz",index_col=0).head(25)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229
6,"[28, 12, 14, 878]",19995,en,Avatar,26.526,2009-12-18,Avatar,7.4,18676
7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340
8,"[16, 10751, 35]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057
9,"[16, 28, 35, 10751, 878]",38055,en,Megamind,22.855,2010-11-04,Megamind,6.8,3635
10,"[16, 35, 10751]",863,en,Toy Story 2,22.698,1999-11-24,Toy Story 2,7.5,7553
11,"[10751, 14, 12]",12155,en,Alice in Wonderland,22.020,2010-03-05,Alice in Wonderland,6.6,8713
12,"[53, 12, 28]",27578,en,The Expendables,21.517,2010-08-03,The Expendables,6.1,4647
13,"[16, 10751]",38757,en,Tangled,21.511,2010-11-24,Tangled,7.5,6407
14,"[27, 80]",41439,en,Saw 3D,20.370,2010-10-28,Saw: The Final Chapter,6.0,1488
15,"[12, 14, 18, 10749]",24021,en,The Twilight Saga: Eclipse,20.340,2010-06-23,The Twilight Saga: Eclipse,6.0,4909
16,"[28, 53, 878]",20504,en,The Book of Eli,18.985,2010-01-11,The Book of Eli,6.7,3495
17,"[10402, 10749]",52371,nl,LelleBelle,18.586,2010-10-09,LelleBelle,4.5,36
18,"[28, 18, 53]",2502,en,The Bourne Supremacy,18.199,2004-07-23,The Bourne Supremacy,7.3,4367
19,"[18, 53, 9648]",11324,en,Shutter Island,18.060,2010-02-18,Shutter Island,8.1,12625
20,"[28, 18, 9648, 53]",2501,en,The Bourne Identity,17.935,2002-06-14,The Bourne Identity,7.4,5406
21,"[28, 35]",37834,en,Knight and Day,17.713,2010-06-23,Knight and Day,6.0,2494
22,"[12, 10751, 14]",10140,en,The Chronicles of Narnia: The Voyage of the Da...,17.382,2010-12-10,The Chronicles of Narnia: The Voyage of the Da...,6.3,3196
23,"[18, 10749]",41233,en,Step Up 3D,17.174,2010-08-06,Step Up 3D,6.7,1160
24,"[53, 28, 12, 35, 80]",34544,en,The A-Team,17.097,2010-06-11,The A-Team,6.3,2703

In [76]:
pd.read_csv("zippedData/tn.movie_budgets.csv.gz").head(25)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
10,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
13,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
21,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"
22,23,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267"
23,24,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"

In [82]:
pd.read_csv("zippedData/rt.movie_info.tsv.gz", delimiter='\t' ).head(25)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
9,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN
10,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,18,"In 1979, Bill Viola and Frank Caliguri dreamed...",NR,Documentary,NaN,Robert Zullo,NaN,NaN,NaN,NaN,NaN,Showtime Documentary Films
12,19,While Microsoft may be the biggest software co...,NR,Documentary|Special Interest,NaN,NaN,"Aug 23, 2002","Sep 30, 2003",NaN,NaN,90 minutes,Seventh Art Releasing
13,20,Rachel (Britt Ekland) is an Amish girl who rej...,PG-13,Classics|Comedy|Drama,William Friedkin,Sidney Michaels|Arnold Schulman|Norman Lear,"Dec 22, 1968","May 20, 2008",NaN,NaN,97 minutes,NaN
14,21,"Old-school comic Rodney ""I get no respect"" Dan...",R,Comedy,Peter Baldwin,Rodney Dangerfield|Harry Basil,"Jan 31, 1997","Sep 20, 1999",NaN,NaN,106 minutes,NaN
15,22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010","Apr 5, 2011",$,"1,039,869",108 minutes,ATO Pictures
16,23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,"99,165,609",129 minutes,Sony Pictures
17,24,Three young boys discover a stranded Russian s...,PG,Action and Adventure|Comedy|Drama,Rick Rosenthal,Sheldon Lettich|Michael Nankin|Alan Jay Glueckman,"Nov 6, 1987","Mar 8, 2005",NaN,NaN,98 minutes,NaN
18,25,"From ancient Japan's most enduring tale, the e...",PG-13,Action and Adventure|Drama|Science Fiction and...,Carl Erik Rinsch,Chris Morgan|Hossein Amini,"Dec 25, 2013","Apr 1, 2014",$,"20,518,224",127 minutes,Universal Pictures
19,26,A comic series of short vignettes build on one...,R,Art House and International|Comedy|Drama|Music...,Jim Jarmusch,Jim Jarmusch,"May 14, 2004","Sep 21, 2004",$,"1,971,135",96 minutes,MGM
20,27,NaN,NR,Musical and Performing Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,28,Elvis goes Hawaiian for the second time in thi...,G,Classics|Comedy|Musical and Performing Arts|Ro...,NaN,Allan Weiss|Anthony Lawrence,"Jun 15, 1966","Jan 7, 2003",NaN,NaN,90 minutes,NaN
22,29,This futuristic adventure stars Lee Majors as ...,PG,Action and Adventure|Drama|Science Fiction and...,Martyn Burke,NaN,"Apr 1, 1981","May 10, 2011",NaN,NaN,101 minutes,NaN
23,33,Howard W. Campbell Jr. (Nick Nolte) is an Amer...,R,Action and Adventure|Drama|Mystery and Suspense,Keith Gordon,NaN,"Nov 1, 1996","Aug 22, 2000",NaN,NaN,114 minutes,NaN
24,34,Director John Woo brings Hong Kong-style marti...,PG-13,Action and Adventure|Mystery and Suspense,John Woo,William Goldman|John Logan|David Marconi|Micha...,"Dec 31, 2000","Nov 7, 2000",NaN,NaN,123 minutes,Paramount Pictures

In [86]:
pd.read_csv("zippedData/rt.reviews.tsv", delimiter='\t').head(25)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 4: invalid start byte

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [6]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***